project:
  type: website
  output-dir: docs

website:
  title: "Chad Howe's Blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/ChadHoweUGA
      - icon: bluesky
        href: https://bsky.app/profile/lchowe.bsky.social
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css



